!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Explod-A-Code!!!!!!
  :css
    body {
      font-family: verdana,helvetica,arial,sans-serif;
      padding: 2em;
    }

    .float {
      float: left;
      margin-right: 10px;
    }
    dt {
      margin-top: 1em;
    }
    h1 { margin-bottom: 0px; }
    table, th, td {
      border-collapse: collapse;
      border: none;
      margin: 0px;
    }

    thead > tr {
      background-color: #A7C942;
      color: #ffffff;
      font-size: 1.1em;
    }

    th, td {
      padding: 0.25em;
    }

    tr.even {
    }

    tr.odd {
      background-color: #EAF2D3;
    }

    a:visited {
      color: #002856;
    }

    form {
     background-color: #FFB819;
     padding: 0.5em;
    }
  %body
    %p Examples (click to view results):
    %dl
      %dt
        %a{href: "/?code_str=412&vocabulary=ICD-9" } 412
      %dd Search by three digit code only
      %dt
        %a{href: "/?code_str=410.x&vocabulary=ICD-9" } 410.x
      %dd Search for all four-digit codes starting with 410
      %dt
        %a{href: "/?code_str=410.xx&vocabulary=ICD-9" } 410.xx
      %dd Search for all five-digit codes starting with 410
      %dt
        %a{href: "/?code_str=410.y&vocabulary=ICD-9" } 410.y
      %dd Search for all four-digit or five-digit codes starting with 410
      %dt
        %a{href: "/?code_str=412%2C+410.x1&vocabulary=ICD-9" } 412, 410.x1
      %dd Search more than one code at a time: three-digit code 412 and any five-digit code starting with 410 and ending in 1
      %dt
        %a{href: "/?code_str=410-412&vocabulary=ICD-9" } 410-412
      %dd Search for all codes between 410 through 412
    %br
    %form#explode(action="/" method="GET")
      %table
        %tr
          %td Enter Code String
          %td
            %input#word{ type: "text", name: "code_str", value:@code_str.first }
        %tr
          %td Select a vocabulary
          %td
            %select#vocabulary{ type: "text", name: "vocabulary" }
              %option{ label: '', value: '' }
              - @vocabularies.each do |vocab|
                %option{ label: vocab, value: vocab, selected: vocab == @vocabulary }
        %tr
          %td And click
          %td
            %input(type="submit" value="Search")
    %br
    - if @codes.empty?
      %p= "Nothing matched #{@search}"
    - else
      %p
        Codes in comma-delimited list (great for
        %a{ href: "https://github.com/outcomesinsights/conceptql" } ConceptQL
        codelists)
      %p= @codes.sort.join(", ")
      %br
      %p Codes in a list
      %ul
      - @codes.each_with_index do |code|
        %li= code

